@font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-regular-web.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-medium-web.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-heavy-web.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'TwitterChirp';
    src: url('/fonts/chirp-bold-web.woff') format('woff');
    font-weight: 600;
}

body {
    background-color: #000000;
    font-family: 'TwitterChirp';
    color: white;
}

main {
    width: 100%;
    height: 100vh;

    .leftZone {
        width: 25%;
        height: 100%;
        float: left;
        border-right: 1px solid #2F3336;
    }

    .centerZone {
        width: 45%;
        height: 100%;
        float: left;
    }

    .rightZone {
        width: 30%;
        height: 100%;
        float: left;
        border-left: 1px solid #2F3336;
    }
    
    &::after {
        content: "";
        clear: both;
    }
}

@media screen and (max-width: 760px) {
    main {
        .leftZone {
            width: 17%;
        }

        .centerZone {
            width: 53%;
        }

        .rightZone {
            display: none;
        }
    }
}